<div class="container">
    <div class="row">

        <div class="col-md-2">
            <form method="GET" action="#" class="js-search-teacher-form">
                <div class="form-group">
                    <label>Nombre</label>
                    <input name="name" type="text" value="John" class="form-control" placeholder="John">
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input name="last-name" type="text" value="Doe" class="form-control" placeholder="Velez">
                </div>
                <div class="form-group">
                    <label>Número de documento</label>
                    <input name="document-number" type="text" value="1234567" class="form-control" placeholder="67959000">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">
                    <h3 class="text-center">Listado de Docentes</h3>
                </div>
                <!-- Table -->
                <table id="listar-docente-table" class="display table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <strong>No.</strong>
                                <span class="glyphicon glyphicon-chevron-down btn-sm text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Id Identidad</strong> <span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Nombres </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Apellidos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Correos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"> </span>
                            </th>
                            <th>
                                <strong>Teléfonos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Editar</strong>
                                <span class="glyphicon glyphicon-edit btn-sm text-center" aria-hidden="true"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="searchable">
                        <% _.each(teacher_list, function(teacher) { %>
                            <tr>
                                <td><%= teacher.id %></td>
                                <td><%= teacher.document_number %></td>
                                <td><%= teacher.first_name %></td>
                                <td><%= teacher.last_name %></td>
                                <td><%= teacher.email %></td>
                                <td><%= teacher.mobile_phone %></td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs">Editar</button>
                                </td>
                            </tr>
                        <% }); %>


                    </tbody>
                </table>

                <!-- Table -->
                <div id="orderModal" class="modal hide fade" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h3>Docente</h3>
                    </div>
                    <div id="orderDetails" class="modal-body"></div>

                    <div id="orderItems" class="modal-body"></div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
