<div class="panel-heading">Agregar Experiencia Laboral Real</div>
<form class="form-horizontal">
		</br><div class="form-group">
		<label for="inputNombreEmpresa" class="col-sm-2 control-label">Nombre Empresa</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputNombreEmpresa" placeholder="Nombre Empresa">
		</div>
	</div>
	<div class="form-group">
		<label for="inputCargo" class="col-sm-2 control-label">Cargo</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputCargo" placeholder="Cargo">
		</div>
	</div>
	<div class="form-group">
		<label for="inputArea" class="col-sm-2 control-label">Area</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="inputArea" placeholder="Area">
		</div>
	</div>
	<div class="form-group">
		<label for="inputFechaInicio" class="col-sm-2 control-label">Fecha Inicio</label>
		<div class="col-sm-9">
			<input type="date" class="form-control" id="inputFechaInicio">
		</div>
	</div>
	<div class="form-group">
		<label for="inputFechaFin" class="col-sm-2 control-label">FechaFin</label>
		<div class="col-sm-9">
			<input type="date" class="form-control" id="inputFechaFin">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn ">Agregar</button>
			<button type="button" class="btn btn-danger delete">Cancelar</button>
		</div>
	</div>
</form>