<div class="panel-heading">Agregar Experiencia Laboral Docente</div>
<form class="form-horizontal">
</br><div class="form-group">
<label for="inputUniversidad" class="col-sm-2 control-label">Universidad</label>
<div class="col-sm-9">
	<input type="text" class="form-control" id="inputUniversidad" placeholder="Universidad">
</div>
</div>
<div class="form-group">
	<label for="inputTipoDocente" class="col-sm-2 control-label">Tipo de Docente</label>
	<div class="col-sm-9"> 
		<select class="form-control" id="inputTipoDocente" name="Tipo de Docente">
			<option>Seleccione Tipo</option>
			<option>Catedra</option>
			<option>Planta</option>
		</select>
	</div>
</div>
<div class="form-group">
	<label for="inputCiudad" class="col-sm-2 control-label">Ciudad</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="inputCiudad" placeholder="Ciudad">
	</div>
</div>	
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn "><a href="Mostrar_Experiencia_Docente.html">Agregar</a></button>
		<button type="button" class="btn btn-danger delete">Cancelar</button>
	</div>
</div>
</form>