<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1> Experiencia Laboral 
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agregar <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="Agregar_Experiencia_Real.html">Experiencia Real</a></li>
                            <li><a href="Agregar_Experiencia_Docente.html">Experiencia Docente</a></li>
                        </ul>
                    </div>
                </h1>
            </div>

            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Experiencia profesional</div>
                <table class="table">
                    <tr>
                        <td><strong>Experiencia Real: </strong>26 Meses</td>
                        <td><button class="btn" id="mostrarExperienciaReal">Mostrar</button></td>
                    </tr>
                    <tr>
                        <td><strong>Experiencia Docente: </strong>6 Meses</td>
                        <td><button class="btn" id="mostrarExperienciaDocente">Mostrar</button></td>
                    </tr>
                </table>
            </div>
            <div id="experienciacontenido"></div>
        </div>
    </div>
</div>
