<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#universidadnacional" aria-controls="home" role="tab" data-toggle="tab">Universidad Nacional</a></li>
	<li role="presentation"><a href="#universidadjaveriana" aria-controls="profile" role="tab" data-toggle="tab">Pontificia Universidad Javeriana</a></li>
	<li role="presentation"><a href="#universidadsergioarboleda" aria-controls="messages" role="tab" data-toggle="tab">Universidad Sergio Arboleda</a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="universidadnacional">
		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading">Institución: <strong>Universidad Nacional de Colombia </strong><button class="btn">Editar</button></div>
			<!-- Table -->
			<table class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					<td><strong>Tipo de Docente: </strong></td>
					<td>Catedra</td>                        
					<td><strong>Ciudad: </strong></td>
					<td>Bogotá</td>
				</tr>
			</table>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#pensamientoalgoritmico" aria-controls="home" role="tab" data-toggle="tab">Pensamiento Algoritmico</a></li>
				<li role="presentation"><a href="#basesdedatos" aria-controls="profile" role="tab" data-toggle="tab">Bases de Datos</a></li>
				<li role="presentation"><a href="#ingenieriadesoftware" aria-controls="messages" role="tab" data-toggle="tab">Ingenieria de Software</a></li>
				<li role="presentation"><a href="#agregarmateria" aria-controls="messages" role="tab" data-toggle="tab">Agregar Materia</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="pensamientoalgoritmico">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Pensamiento Algoritmico</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>4 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="basesdedatos">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Bases de Datos</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>4 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="ingenieriadesoftware">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Ingenieria de Software</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>2 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="universidadjaveriana">
		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading">Institución: <strong>Pontificia Universidad Javeriana </strong><button class="btn">Editar</button></div>
			<!-- Table -->
			<table class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					<td><strong>Tipo de Docente: </strong></td>
					<td>Planta</td>                        
					<td><strong>Ciudad: </strong></td>
					<td>Bogotá</td>
				</tr>
			</table>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#pensamientoalgoritmico" aria-controls="home" role="tab" data-toggle="tab">Pensamiento Algoritmico</a></li>
				<li role="presentation"><a href="#calculo1" aria-controls="profile" role="tab" data-toggle="tab">Calculo 1 </a></li>
				<li role="presentation"><a href="#gerenciadeproyectos" aria-controls="messages" role="tab" data-toggle="tab">Gerencia de Proyectos</a></li>
				<li role="presentation"><a href="#agregarmateria" aria-controls="messages" role="tab" data-toggle="tab">Agregar Materia</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="pensamientoalgoritmico">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Pensamiento Algoritmico</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>4 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="calculo1">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Bases de Datos</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>4 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="gerenciadeproyectos">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td><strong>Materia: </strong></td>
								<td>Ingenieria de Software</td>                        
								<td><strong>Facultad: </strong></td>
								<td>Ingenieria</td>
							</tr>
							<tr>
								<td><strong>Area: </strong></td>
								<td>Ingenieria de Sistemas</td>                        
								<td><strong>Tipo de Materia: </strong></td>
								<td>Tecnico - Magistral</td>
							</tr>
							<tr>
								<td><strong>Tiempo: </strong></td>
								<td>2 Semestres</td>                        
							</tr>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="agregarmateria">
					<div class="panel panel-success">
						<!-- Default panel contents -->
						<form class="form-horizontal">
						</br><div class="form-group">
						<label for="inputMateria" class="col-sm-2 control-label">Materia</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputMateria" placeholder="Materia">
						</div>
					</div>
					<div class="form-group">
						<label for="inputFacultad" class="col-sm-2 control-label">Facultad</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputFacultad" placeholder="Facultad">
						</div>
					</div>
					<div class="form-group">
						<label for="inputArea" class="col-sm-2 control-label">Area</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputArea" placeholder="Area">
						</div>
					</div>	
					<div class="form-group">
						<label for="inputTiempoMateria" class="col-sm-2 control-label">Tipo de Materia</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputTiempoMateria" placeholder="Tipo Materia">
						</div>
					</div>
					<div class="form-group">
						<label for="inputTiempoDictado" class="col-sm-2 control-label">Tiempo Dictado</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputTiempoDictado" placeholder="Tiempo Dicatdo">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn ">Agregar Materia</button>
							<button type="button" class="btn btn-danger delete">Cancelar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div>
		<button class="btn btn-primary">Editar </button>
	</div>
</div>
</div>							
<div role="tabpanel" class="tab-pane" id="universidadsergioarboleda">
	<div class="panel panel-success">
		<!-- Default panel contents -->
		<div class="panel-heading">Institución: <strong>Universidad Sergio Arboleda </strong><button class="btn">Editar</button></div>
		<!-- Table -->
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<td><strong>Tipo de Docente: </strong></td>
				<td>Planta</td>                        
				<td><strong>Ciudad: </strong></td>
				<td>Bogotá</td>
			</tr>
		</table>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#programaciondecomputadores" aria-controls="home" role="tab" data-toggle="tab">Programacion de Computadores</a></li>
			<li role="presentation"><a href="#estructurasdedatos" aria-controls="profile" role="tab" data-toggle="tab">Estructuras de Datos</a></li>
			<li role="presentation"><a href="#gerenciadeproyectos" aria-controls="messages" role="tab" data-toggle="tab">Gerencia de Proyectos</a></li>
			<li role="presentation"><a href="#agregarmateria" aria-controls="messages" role="tab" data-toggle="tab">Agregar Materia</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="programaciondecomputadores">
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<td><strong>Materia: </strong></td>
							<td>Programacion de Computadores</td>                        
							<td><strong>Facultad: </strong></td>
							<td>Ingenieria</td>
						</tr>
						<tr>
							<td><strong>Area: </strong></td>
							<td>Ingenieria de Sistemas</td>                        
							<td><strong>Tipo de Materia: </strong></td>
							<td>Tecnico - Magistral</td>
						</tr>
						<tr>
							<td><strong>Tiempo: </strong></td>
							<td>4 Semestres</td>                        
						</tr>
					</table>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="estructurasdedatos">
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<td><strong>Materia: </strong></td>
							<td>Estructura de Datos</td>                        
							<td><strong>Facultad: </strong></td>
							<td>Ingenieria</td>
						</tr>
						<tr>
							<td><strong>Area: </strong></td>
							<td>Ingenieria de Sistemas</td>                        
							<td><strong>Tipo de Materia: </strong></td>
							<td>Tecnico - Magistral</td>
						</tr>
						<tr>
							<td><strong>Tiempo: </strong></td>
							<td>4 Semestres</td>                        
						</tr>
					</table>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="gerenciadeproyectos">
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr>
							<td><strong>Materia: </strong></td>
							<td>Gerencia de Proyectos</td>                        
							<td><strong>Facultad: </strong></td>
							<td>Ingenieria</td>
						</tr>
						<tr>
							<td><strong>Area: </strong></td>
							<td>Ingenieria de Sistemas</td>                        
							<td><strong>Tipo de Materia: </strong></td>
							<td>Tecnico - Magistral</td>
						</tr>
						<tr>
							<td><strong>Tiempo: </strong></td>
							<td>2 Semestres</td>                        
						</tr>
					</table>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="agregarmateria">
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<form class="form-horizontal">
					</br><div class="form-group">
					<label for="inputMateria" class="col-sm-2 control-label">Materia</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="inputMateria" placeholder="Materia">
					</div>
				</div>
				<div class="form-group">
					<label for="inputFacultad" class="col-sm-2 control-label">Facultad</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="inputFacultad" placeholder="Facultad">
					</div>
				</div>
				<div class="form-group">
					<label for="inputArea" class="col-sm-2 control-label">Area</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="inputArea" placeholder="Area">
					</div>
				</div>	
				<div class="form-group">
					<label for="inputTiempoMateria" class="col-sm-2 control-label">Tipo de Materia</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="inputTiempoMateria" placeholder="Tipo Materia">
					</div>
				</div>
				<div class="form-group">
					<label for="inputTiempoDictado" class="col-sm-2 control-label">Tiempo Dictado</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="inputTiempoDictado" placeholder="Tiempo Dicatdo">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn ">Agregar Materia</button>
						<button type="button" class="btn btn-danger delete">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div>
	<button class="btn btn-primary">Editar </button>
</div>
</div>
</div>
</div>	