<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#unilever" aria-controls="home" role="tab" data-toggle="tab">Unilever</a></li>
    <li role="presentation"><a href="#psl" aria-controls="profile" role="tab" data-toggle="tab">PSL</a></li>
    <li role="presentation"><a href="#bancodebogota" aria-controls="messages" role="tab" data-toggle="tab">Banco de Bogota</a></li>
    <li role="presentation"><a href="#unisys" aria-controls="settings" role="tab" data-toggle="tab">Unisys</a></li>
</ul>
                                            <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="unilever">
                                                            <div class="panel panel-success">
                                                                                      <!-- Default panel contents -->
                                                                    <div class="panel-heading">Institución: <strong>Unilever </strong><button class="btn btn-default btn-sm">Editar </button></div>
                                                                                      <!-- Table -->
                                                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                                                    <tr>
                                                                                            <td><strong>Cargo: </strong></td>
                                                                                            <td>Técnico de Implementación de Software</td>                        
                                                                                            <td><strong>Jefe: </strong></td>
                                                                                            <td>Mario Castañeda</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Duración: </strong></td>
                                                                                            <td>3 Meses</td>
                                                                                            <td><strong>Ciudad: </strong></td>
                                                                                            <td>Bogota</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Fecha Inicio: </strong></td>
                                                                                            <td>12/8/2015</td>
                                                                                            <td><strong>Fecha Final: </strong></td>
                                                                                            <td>12/11/2015</td>
                                                                                    </tr>
                                                                            </table>
                                                                            <div>
                                                                                    <button class="btn btn-primary">Editar </button>
                                                                            </div>
                                                                    </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="psl">
                                                            <div class="panel panel-success">
                                                                                      <!-- Default panel contents -->
                                                                    <div class="panel-heading">Institución: <strong>PSL </strong><button class="btn btn-default btn-sm">Editar </button></div>
                                                                                      <!-- Table -->
                                                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                                                    <tr>
                                                                                            <td><strong>Cargo: </strong></td>
                                                                                            <td>SCRUM Master</td>                        
                                                                                            <td><strong>Jefe: </strong></td>
                                                                                            <td>Mario Castañeda</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Duración: </strong></td>
                                                                                            <td>12 Meses</td>
                                                                                            <td><strong>Ciudad: </strong></td>
                                                                                            <td>Bogota</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Fecha Inicio: </strong></td>
                                                                                            <td>12/8/2015</td>
                                                                                            <td><strong>Fecha Final: </strong></td>
                                                                                            <td>12/8/2016</td>
                                                                                    </tr>
                                                                            </table>
                                                                            <div>
                                                                                    <button class="btn btn-primary">Editar </button>
                                                                            </div>
                                                            </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="bancodebogota">
                                                            <div class="panel panel-success">
                                                                                      <!-- Default panel contents -->
                                                                    <div class="panel-heading">Institución: <strong>Banco de Bogotá </strong><button class="btn btn-default btn-sm">Editar </button></div>
                                                                                      <!-- Table -->
                                                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                                                    <tr>
                                                                                            <td><strong>Cargo: </strong></td>
                                                                                            <td>Ingeniero de Software</td>                        
                                                                                            <td><strong>Jefe: </strong></td>
                                                                                            <td>Mario Castañeda</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Duración: </strong></td>
                                                                                            <td>10 Meses</td>
                                                                                            <td><strong>Ciudad: </strong></td>
                                                                                            <td>Bogota</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Fecha Inicio: </strong></td>
                                                                                            <td>10/10/2011</td>
                                                                                            <td><strong>Fecha Final: </strong></td>
                                                                                            <td>8/10/2012</td>
                                                                                    </tr>
                                                                            </table>
                                                                            <div>
                                                                                    <button class="btn btn-primary">Editar </button>
                                                                            </div>
                                                            </div>
                                            </div>
                                                    <div role="tabpanel" class="tab-pane" id="unisys">
                                                            <div class="panel panel-success">
                                                                                      <!-- Default panel contents -->
                                                                    <div class="panel-heading">Institución: <strong>Unisys </strong><button class="btn btn-default btn-sm">Editar </button></div>
                                                                                      <!-- Table -->
                                                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                                                    <tr>
                                                                                            <td><strong>Cargo: </strong></td>
                                                                                            <td>Account Manager</td>                        
                                                                                            <td><strong>Jefe: </strong></td>
                                                                                            <td>Mario Castañeda</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Duración: </strong></td>
                                                                                            <td>6 Meses</td>
                                                                                            <td><strong>Ciudad: </strong></td>
                                                                                            <td>Bogota</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td><strong>Fecha Inicio: </strong></td>
                                                                                            <td>1/8/2011</td>
                                                                                            <td><strong>Fecha Final: </strong></td>
                                                                                            <td>7/8/2011</td>
                                                                                    </tr>
                                                                            </table>
                                                            </div>
                                    </div>
                            </div>