<ul class="nav nav-tabs" role="tablist">
    
     <% var arreglo = _.toArray(real); _.each(arreglo,function(name, i){ %>
     <% if(i===0) { %>
        <li role="presentation" class="active"><a href="#0" aria-controls="home" role="tab" data-toggle="tab"><%= arreglo[i].nombreEmpresa %></a></li>
     <% }else { %>
        <li role="presentation"><a href="#1" aria-controls="profile" role="tab" data-toggle="tab"><%= arreglo[i].nombreEmpresa %></a></li>
     <% }%>
     <% }); %>
     
				
</ul>
<div id="contenidopestaña" class="tab-content">
    <% var arreglo = _.toArray(real); _.each(arreglo,function(name, i){ %>
    <% if(i===0) { %>
    <div role="tabpanel" class="tab-pane active" id="0">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Institución: <strong><%= arreglo[i].nombreEmpresa %> </strong><button class="btn btn-default btn-sm" id="editarexperienciareal">Editar </button></div>
            <!-- Table -->
            <!--<div id="experienciarealcontenido">-->
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                 <td><strong>Cargo: </strong></td>
                 <td><%= arreglo[i].cargo %></td>                        
                 <td><strong>Area: </strong></td>
                 <td><%= arreglo[i].area %></td>
                </tr>
                <tr>
                  <td><strong>Duración: </strong></td>
                  <td>3 Meses</td>
                  <td><strong>Ciudad: </strong></td>
                  <td><%= arreglo[i].ciudad %></td>
                </tr>
                <tr>
                  <td><strong>Fecha Inicio: </strong></td>
                  <td><%= arreglo[i].fechaInicio %></td>
                  <td><strong>Fecha Final: </strong></td>
                  <td><%= arreglo[i].fechaFin %></td>
                </tr>
            </table>
            <!--</div>-->
        </div>
    </div>
    <% }else { %>
    <div role="tabpanel" class="tab-pane" id="1">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Institución: <strong><%= arreglo[i].nombreEmpresa %> </strong><button class="btn btn-default btn-sm" id="editarexperienciareal">Editar </button></div>
            <!-- Table -->
            <!--<div id="experienciarealcontenido">-->
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                 <td><strong>Cargo: </strong></td>
                 <td><%= arreglo[i].cargo %></td>                        
                 <td><strong>Area: </strong></td>
                 <td><%= arreglo[i].area %></td>
                </tr>
                <tr>
                  <td><strong>Duración: </strong></td>
                  <td>3 Meses</td>
                  <td><strong>Ciudad: </strong></td>
                  <td><%= arreglo[i].ciudad %></td>
                </tr>
                <tr>
                  <td><strong>Fecha Inicio: </strong></td>
                  <td><%= arreglo[i].fechaInicio %></td>
                  <td><strong>Fecha Final: </strong></td>
                  <td><%= arreglo[i].fechaFin %></td>
                </tr>
            </table>
            <!--</div>-->
        </div>
    </div>
    <% }%>
    <%}); %>
</div>
                                                    
                            