/Logica/nbproject/private/
/Logica/build/
/Logica/dist/

/Logica/web/*.js
/Logica/web/*.html
/Logica/web/*.css
/Logica/web/*.gif
/Logica/web/images

# Specific configuration.
Logica/setup/glassfish-resources.xml
Logica/src/conf/persistence.xml
Logica/web/WEB-INF/glassfish-resources.xml
Presentacion/nbproject/private/private.xml
