/Logica/nbproject/private/
/Logica/build/
/Logica/dist/

/Logica/web/*.js
/Logica/web/*.html
/Logica/web/*.css
/Logica/web/*.gif
/Logica/web/images
Presentacion/nbproject/private/private.xml

# Specific configuration.
Logica/setup/glassfish-resources.xml
Logica/src/conf/persistence.xml
Logica/web/WEB-INF/glassfish-resources.xml

# Ignore project properties.
Logica/nbproject/project.properties
Presentacion/nbproject/project.properties
/testdb/nbproject/private/