          <section id="about" class="docente-section">
<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>
                            Listar Docente
                       </h1>
                    </div>
                </div>
            </div>
                <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                        <button type="submit" class="btn btn-default">Buscar</button>
                        <a href="file:///C:/Users/Hector/Downloads/New%20folder/ListarDocente/ListarDocente/BuscarDocente.html"></a><button type="submit" class="btn">Busqueda Avanzada</button>
                                
                    </div> 
                    <div class="row">
                    <div class="col-sm-3" style="text-align:center">
                        <!-- seccion para colocar la parte de los filtros dinamicos para la lista de docente -->
                    </div>                
                    <div class="col-sm-9">
                        <div class="panel panel-success">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Listado de Docentes</div>
                            <!-- Table -->
                            <table id="listarDocenteTabla" class="table table-striped table-bordered">
                                <tr>
                                    <th><strong>Doc de Identidad</strong></th>                                    
                                    <th><strong>Nombres</strong></th>
                                    <th><strong>Apellidos</strong></th>
                                    <th><strong>Correos</strong></th>
                                    <th><strong>Teléfonos</strong></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                                <tr>
                                    <td>CC<br>10278723987</td>                                    
                                    <td>Andres Felipe</td> 
                                    <td>Silva Pascuas</td>
                                    <td>afsilvap@poligran.edu.co<br>felsip@gmail.com</td>                                    
                                    <td>3156784532<br>3956723</td>
                                    <td><button type="button" class="btn btn-default btn-xs" onclick="editarDocente(1)">Editar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                
                            <section id="pie" class="pie-section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            
                   </div>
                </div>                        
                                </div>
                            </section>
                            <div id="orderModal" class="modal hide fade" role="dialog" 
                                 aria-labelledby="orderModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3>Docente</h3>
                                </div>
                                <div id="orderDetails" class="modal-body"></div>
            
                                <div id="orderItems" class="modal-body"></div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

