<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">
                    <h3 class="text-center">Listado de Docentes</h3>
                </div>
                <!-- Table -->
                <table id="listar-docente-table" class="display table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <strong>No.</strong>
                                <span class="glyphicon glyphicon-chevron-down btn-sm text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Id Identidad</strong> <span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Nombres </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Apellidos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Correos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"> </span>
                            </th>
                            <th>
                                <strong>Teléfonos </strong><span class="glyphicon glyphicon-sort text-center" aria-hidden="true"></span>
                            </th>
                            <th>
                                <strong>Editar</strong>
                                <span class="glyphicon glyphicon-edit btn-sm text-center" aria-hidden="true"></span>
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th><strong>No.</strong>
                                <span class="glyphicon glyphicon-chevron-up btn-sm text-center" aria-hidden="true"></span>
                            </th>
                            <th><strong>Id Identidad</strong>
                            </th>
                            <th><strong>Nombres</strong>
                            </th>
                            <th><strong>Apellidos</strong>
                            </th>
                            <th><strong>Correos</strong>
                            </th>
                            <th><strong>Teléfonos</strong>
                            </th>
                            <th><strong>Editar</strong>
                                <span class="glyphicon glyphicon-edit btn-sm text-center" aria-hidden="true"></span>
                            </th>
                        </tr>
                    </tfoot>
                    <tbody class="searchable">
                        <tr>
                            <td>2</td>
                            <td>10278723987</td>
                            <td>Andres Felipe</td>
                            <td>Roa Pascuas</td>
                            <td>afsilvap@poligran.edu.co</td>
                            <td>31567845355</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs">Editar</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>10278723987</td>
                            <td>Andres Felipe</td>
                            <td>Silva Pascuas</td>
                            <td>afsilvap@poligran.edu.co</td>
                            <td>3156784532</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
        </div>
    </div>
</div>
