<div class="container">

    <div class="row">
        <!--Panel Buscar-->
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h3 class="text-center">Buscar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10">
                            <label for="inp-busc" id="lbl-busc">Parametro de Busqueda</label>
                            <input class="col-lg-12" type="text" id="inp-busc" placeholder="Ingrese un parametro" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer" id="footer">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="center-block">
                            <button id="buscar-pr" class="btn btn-primary btn-lg buscar-pr">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Panel Buscar-->

        <!--Panel Tabla Lista Profesores-->
        <div class="col-md-9">
            <div id="table-profe" class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">
                    <h3 class="text-center">Listado de Docentes</h3>
                </div>
                <!-- Table -->
                <table id="listar-docente-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <strong>No.</strong>

                            </th>
                            <th>
                                <strong>Id Identidad</strong>
                            </th>
                            <th>
                                <strong>Nombres </strong>
                            </th>
                            <th>
                                <strong>Apellidos </strong>
                            </th>
                            <th>
                                <strong>Correos </strong>
                            </th>
                            <th>
                                <strong>Teléfonos </strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(datas, function(data, i) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= data.get('numeroDocumento') %>
                                </td>
                                <td>
                                    <%= data.get('nombre') %>
                                </td>
                                <td>
                                    <%= data.get('apellido') %>
                                </td>
                                <td>
                                    <%= data.get('emailInstitucional') %>,
                                        <br />
                                        <%= data.get('emailPersonal') %>
                                </td>
                                <td>Movil:
                                    <%= data.get('celular') %>,
                                        <br /> Fijo:
                                        <%= data.get('telefonoFijo') %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
        </div>
        <!--Panel Tabla Lista Profesores-->
    </div>
</div>
