<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>
                    Listar Escolaridad 
                </h1>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tecnicos" aria-controls="tecnicos" role="tab" data-toggle="tab">Técnicos</a></li>
                <li role="presentation"><a href="#tecnologo" aria-controls="tecnologo" role="tab" data-toggle="tab">Tecnólogos</a></li>
                <li role="presentation"><a href="#profesional" aria-controls="profesional" role="tab" data-toggle="tab">Profesionales</a></li>
                <li role="presentation"><a href="#especial" aria-controls="especial" role="tab" data-toggle="tab">Especializaciones</a></li>
                <li role="presentation"><a href="#maestria" aria-controls="maestria" role="tab" data-toggle="tab">Maestrías</a></li>
                <li role="presentation"><a href="#doctorado" aria-controls="doctorado" role="tab" data-toggle="tab">Doctorados</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade" id="tecnicos">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Técnico de Implementación de Software</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>TÉCNICO</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tecnologo">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Técnologo en Adminsitración de Sistemas</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>TECNOLOGO</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>                    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profesional">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Ingeniero de Sistemas</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>PROFESIONAL</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="especial">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Especialización en redes de Telecomunicacion</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>ESPECIALIZACION</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="maestria">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Master en diseño de Software</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>MAESTRIA</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="doctorado">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Doctorado en Adminsitración de Sistemas</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>DOCTORADO</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2000/02/01</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>