<section id="AdjuntarDiploma">

	<form class="form-horizontal">

		<h3 align="center">Adjuntar Diploma</h3>
			
            <div class="container" style="padding-left:220px;padding-right:220px">
			Por favor seleccione la constancia de los estudios realizados, es v&aacutelido el Diploma, Acta de Grado o Certificaci&oacuten expedida por la instituci&oacuten correpondiente. Se requiere un archivo en formato pdf.
        	
            <br/><br/>
        	
                <div class="form-group">

            	    <div class="">
                    <input type="file" name="diploma" id="diploma" required></input>
                    </div>
				
                <br/>
                
                    <div class="">
                        <button type="submit" class="btn btn-default" id="adjuntarDiploma">Enviar</button>
                    </div>

                </div>
            </div>
    </form>

</section>