 <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>
                            Editar Escolaridad
                        </h1>
                    </div>
                

<div class="panel panel-success">
<div class="panel-heading">Editando Escolaridad</div>
            <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"> </li>
            </ul>

<form class="form-horizontal">

    <div class="form-group">
        <label for="TipoEstudio" class="col-sm-2 control-label">Tipo de Estudio:</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Técnico</option>
                <option>Tecnológico</option>
                <option>Profesional</option>
                <option>Especialización</option>
                <option>Maestría</option>
                <option>Doctorado</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Institución    :</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Universidad Los Andes</option>
                <option>Universidad Nacional</option>
                <option>Universidad Javeriana</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Titulo" class="col-sm-2 control-label">Título         :</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Técnico de Implementación de Software</option>
                <option>Técnologo en Adminsitración de Sistemaso</option>
                <option>Ingeniero de Sistemas</option>
                <option>Especialización en redes de Telecomunicacion</option>
                <option>Master en diseño de Software</option>
                <option>Doctorado en Adminsitración de Sistemas</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Facultad" class="col-sm-2 control-label">Facultad       :</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Facultad de Ingeniería y Ciencias Básicas</option>
                <option>Facultad de Bellas Artes</option>
                <option>Facultad de Lenguas Modernas</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Pais" class="col-sm-2 control-label">Pais           :</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Colombia</option>
                <option>Estados Unidos</option>
                <option>Brazil</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Años" class="col-sm-2 control-label">Años           :</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Años" class="col-sm-2 control-label">Fecha de Inicio:</label>
        <div class="col-sm-5">
            <input  type="date" id="FechaInicio">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true">
        </div>
    </div>
    <div class="form-group">
        <label for="Titulado" class="col-sm-2 control-label">Titulado       :</label>
        <div class="col-sm-5">
            <label>    <input type="radio" name="titulado" id="tituladosi" value="option1" checked>   SI  </label>
            <label>    <input type="radio" name="titulado" id="tituladono" value="option2">    NO  </label>
        </div>
    </div>
    <div class="form-group">
        <label for="Convalidado" class="col-sm-2 control-label">Convalidado    :</label>
        <div class="col-sm-5">
            <label>    <input type="radio" name="convalidado" id="convalidadosi" value="option1" checked>  SI </label>
            <label>    <input type="radio" name="convalidado" id="convalidadono" value="option2">    NO  </label>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Soporte Título PDF </label>
        <div class="col-sm-5">
            <input type="file" id="exampleInputFile" >
            <p class="help-block">La Institución se reserva el derecho de confirmar dicho Título Obtenido</p>
        </div>
    </div>
    </div>
<div>
<button class="btn btn-primary">Grabar Escolaridad</button>
</div>    
                </div>
            </div>
 </div>