<div class="container">
  
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="profesional">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Politécnico Grancolombiano</strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Ingeniero de Sistemas</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>PROFESIONAL</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td> Facultad de Ingeniería y Ciencias Básicas</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2007/01/30</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>Si</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
            </div>
</div> 