<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <br>
                <br>
                <h1>
                    LISTAR ESCOLARIDAD<br/> 
                </h1>
            </div>
        </div>
    </div>
    <div>
            <ul class="nav nav-tabs" role="tablist">           
                <li role="presentation" class="active"><a href="#tecnicos" aria-controls="tecnicos" role="tab" data-toggle="tab">Técnicos</a></li>
                <li role="presentation"><a href="#tecnologo" aria-controls="tecnologo" role="tab" data-toggle="tab">Tecnólogos</a></li>
                <li role="presentation"><a href="#profesional" aria-controls="profesional" role="tab" data-toggle="tab">Profesionales</a></li>
                <li role="presentation"><a href="#especial" aria-controls="especial" role="tab" data-toggle="tab">Especializaciones</a></li>
                <li role="presentation"><a href="#maestria" aria-controls="maestria" role="tab" data-toggle="tab">Maestrías</a></li>
                <li role="presentation"><a href="#doctorado" aria-controls="doctorado" role="tab" data-toggle="tab">Doctorados</a></li>
            </ul>        
    </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <%  _.each(escolaridades, function(temp){  %>             
                            <%=temp%>
                       <%   })  %>      
    </div>