<div class="container">
      
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="especial">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong>Universidad de los andes</strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Especialización en automatizacion de procesos industriales</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>ESPECIALIZACION</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>2</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2010/02/03</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>SI</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>

                    </div>
                    <div>
                        <button class="btn btn-primary">Editar Escolaridad</button>
                    </div>
                </div>
            </div>
</div> 