<div class="container">
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="tecnologo">
                <!--    <div class="col-sm-9">  -->
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <a name="tecnologo" id="tecnologo"></a>
                        <div class="panel-heading">Institución:<strong><code><%=model.institucion%></code></strong></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                
                                <td><strong>Título         : </strong></td>
                                <td><code><%=model.titulo%></code></td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>TECNOLOGO</td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td><code><%=model.facultad%></code></td>
                                <td><strong>País           : </strong></td>
                                <td>model.idPais</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code><%=model.anos%></code></td>
                                <td><strong>Estado de estudio: </strong></td>
                                <td><code><%=model.estadoEstudio%></code></td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td><%=model.estadoEstudio%></td>
                                <td><strong>Convalidado: </strong></td>
                                <td><%=model.convalidado%></td>
                            </tr>                    
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="dbeditarEscolaridad">Editar Escolaridad</button>  -->
                    </div>   
                        <br>
                        <br>
                    </div>  
            </div>
</div> 