<div class="container">
<!--<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <br>
                <br>
                <h1>
                    LISTAR TECNICOS<br/> 
                </h1>
            </div>
        </div>
    </div>  -->
    
    <!--
    <% _.each(usuarios, function (usuario){%>
            aaaa
            <%= usuario.get('idProfesor').nombre.institucion%> 
            <%= usuario.get('codigoEscolaridad')%> 
            <%= usuario.get('institucion')%> 
            <%= usuario.get('idTitulo')%> 
        <%});%>   -->
         
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tecnicos">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        
                        <div class="panel-heading">Institución: Instituto Técnico Central</div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><strong>Título         : </strong></td>
                                <td>Técnico profesional en computación</td>
                                <td><strong>Tipo de estudio: </strong></td>
                                <td>TÉCNICO</td>
                            </tr>
                            <tr>
                                <!--<td><strong>Tipo de documento: </strong><code></code></td>-->
                                <td><strong>Tipo de documento: </strong><code></code></td>
                                <td><strong>ID: </strong><code>1234567890</code></td>
                            </tr>
                            <tr>
                                <td><strong>Facultad       : </strong></td>
                                <td>Facultad de Ingeniería</td>
                                <td><strong>País           : </strong></td>
                                <td>COLOMBIA</td>
                            </tr>
                            <tr>
                                <td><strong>AÑOS           : </strong></td>
                                <td><code>3</code></td>
                                <td><strong>Fecha de Inicio: </strong></td>
                                <td>2001/03/02</td>
                            </tr>
                            <tr>
                                <td><strong>Titulado       : </strong></td>
                                <td>Si</td>
                                <td><strong>Convalidado: </strong></td>
                                <td>N/A</td>
                            </tr>    
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="dbeditarEscolaridad">Editar Escolaridad</button>
                    </div>   
                </div>
            </div>
</div> 