<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>
                            Crear Adjunto
                        </h1>
                    </div>


 
 <div class="panel panel-success">
<div class="panel-heading">Creando Adjunto</div>
            <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"> </li>
            </ul>

<form class="form-horizontal">
    <div class="form-group">
        <label for="TipoEstudio" class="col-sm-2 control-label">Tipo de Adjunto:</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Cédula de Ciudadanía o Doc de Identificación</option>
                <option>Tarjeta Profesional</option>
                <option>Certificación EPS</option>
                <option>Certificación Fondo Pensiones</option>
                <option>Certificación Laboral</option>
                <option>Certificación Título Educativo</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAdjunto" class="col-sm-2 control-label">Documento Adjunto PDF </label>
        <div class="col-sm-6">
            <input type="file" id="exampleInputFile" >
            <p class="help-block"></p>

                </div>
 </div>
    </div>
            <div>
            <button class="btn btn-primary">Grabar Adjunto</button>           <button class="btn btn-primary">Cancelar</button>
            </div>
                    </div>
 
                    
                </div>
            </div>


