<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
<div class="page-header">
                        <h1>
                            Archivos adjuntos <button class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar </button>
                        </h1>
                    </div>


<div class="panel panel-success">
                      <!-- Default panel contents -->
                      <div class="panel-heading">Documentos</div>

                      <!-- Table -->
  <table class="table">
        <tr>
            <td><strong>Cédula de ciudadanía</strong></td>
            <td><strong><code>CC80724926.pdf</code></td>
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button></td>
        </tr>
        <tr>
            <td><strong>Tarjeta profesional</strong></td>
            <td><strong><code>TP0988888.pdf</code></td>
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button></td>
        </tr>
        <tr>
            <td><strong>Certificado EPS</strong></td>
            <td><strong><code>famisanar.pdf</code></td>
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button></td>
        </tr>
        <tr>
            <td><strong>Certificado Fondo de Pensiones</strong></td>
            <td><strong><code>Protección.pdf</code></td>     
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button></td>
       
        </tr>
        
        <tr>
            <td><strong>Certificado Laboral 1</strong></td>
            <td><strong><code>UniAndes.pdf</code></td>     
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button>
            </td>
        </tr>
        <tr>
            <td><strong>Certificado Laboral 2</strong></td>
            <td><strong><code>UNAD.pdf</code></td>     
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button>
            </td>
        </tr>
        <tr>
            <td><strong>Certificado Educativo</strong></td>
            <td><strong><code>CertPolitecnicoId1098810311.pdf</code></td>     
            <td><button type="button" class="btn btn-default btn-xs">Descargar</button> <button type="button" class="btn btn-default btn-xs">Editar</button>
            </td>
        </tr>
        
    </table>

                    </div>
                </div>

                </div>
            </div>
        
    