<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    Hoja de vida<br/>
                    <small>OLARTE RAMOS JULIAN YEZID</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:center">
            <img id="foto" src="img/as.jpg" width="200" class="img-thumbnail"><br/>
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar imagen</button><br/>
        </div> 
        <div class="col-sm-9">  
            <div class="panel panel-success">
                <div class="panel-heading">Datos básicos</div>
                <table class="table">
                    <tr>
                        <td>
                            <form class="form-horizontal" >  
                                <div class="form-group">
                                    <label for="sel1" class="col-sm-4 control-label">Tipo de documento:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control">
                                            <option>Cédula</option>
                                            <option>Cédula de Extrangeria</option>
                                            <option>Tarjeta Profesional</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">ID: </label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Fecha de expedición:</label>
                                    <div class="col-sm-5">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Lugar de expedición: </label>
                                    <div class="col-sm-5">
                                        <select class="form-control">

                                        </select>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">RH:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control">
                                            <option>O+</option>
                                            <option>O-</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Nacionalidad:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control">
                                            <option>Colombia</option>
                                            <option>Argentina</option>
                                            <option>Peru</option>
                                            <option>Ecuador</option>
                                            <option>Bolivia</option>
                                            <option>España</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Género:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="sel1"placeholder="CC">
                                            <option>Femenino</option>
                                            <option>Masculino</option>

                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Lugar de nacimiento:</label>
                                    <div class="col-sm-5">

                                        <select class="form-control">

                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Fecha de nacimiento:</label>
                                    <div class="col-sm-5">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>

                                        </div>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Pais de Origen:</label>
                                    <div class="col-sm-5">

                                        <select class="form-control">

                                        </select>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Estado Civil:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="sel1"placeholder="CC">
                                            <option>Soltero(a)</option>
                                            <option>Casado(a)</option>
                                            <option>Viudo (a)</option>
                                            <option>Divorciado(a)</option>
                                            <option>Unión Libre</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Departamento:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control">

                                        </select>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Email personal:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputsm" type="text"> 
                                    </div>
                                </div>





                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Email institucional:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputsm" type="text">
                                    </div>
                                </div>





                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Teléfono fijo:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputsm" type="text"> 
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Celular:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputsm" type="text"> 
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="inputsm" class="col-sm-4 control-label">Dirección vivienda: </label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputsm" type="text"> 
                                    </div>
                                </div>
                    </tr>
                    </td>
                    </form>
                </table>
                <div class="panel-heading">Tarjeta profesional</div>
                <!-- -->
                <table class="table">
                    <tr>
                        <td>
                            <form class="form-horizontal" >  

                                <div class="form-group">
                                    <label for="sel1" class="col-sm-4 control-label">Documento profesional:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="sel1"placeholder="CC">
                                            <option>Cédula</option>
                                            <option>Cédula de Extrangeria</option>
                                            <option>Tarjeta Profesional</option>
                                        </select>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="sel1" class="col-sm-4 control-label">Número doc Profesional:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="sel1" class="col-sm-4 control-label">Fecha de expedición:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="sel1"placeholder="CC">
                                            <option>Cédula</option>
                                            <option>Cédula de Extrangeria</option>
                                            <option>Tarjeta Profesional</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="sel1" class="col-sm-4 control-label">Lugar de expedición: </label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                </div>
                                </form>
                        </td>
                    </tr>

                </table>
            </div><button class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>


