<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
div class="container" id ="header">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>
                    Tarjeta Profesional  <button class="btn btn-primary" id='agregarTarjeta'>Agregar</button>
                </h1>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tarjeta 1</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong> Politécnico Grancolombiano Institución Universitaria </strong></div>
                        <!-- Table -->
                        <table class="table">

                            <tr>

                                <td><strong>Documento profesional: </strong>TP</td>
                                <td><strong>Número doc Profesional: </strong><code>TP-099776</code></td>
                            </tr>
                            <tr>
                                <td><strong>Fecha de expedición: </strong><code> 2010/07/07</code>
                                </td>
                                <td><strong>Lugar de expedición: </strong>SANTEFE DE BOGOTA</td>
                            </tr>
                        </table>
                    </div>


                    <button class="btn btn-primary"   id='editarTrajetaProfesional'>Editar Tarjeta</button>
                  
                </div>
                
</div>