
    
   
       <form class="form-horizontal">
<div class="container" id ="header">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>
                    Tarjeta Profesional  <button class="btn btn-primary">Agregar</button>
                </h1>
            </div>
            <ul class="nav nav-tabs" role="tablist" >
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tarjeta 1</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Institución:<strong> Politécnico Grancolombiano Institución Universitaria </strong></div>
                        
                        

                            <div class="form-group">
    <label for="inputTP" class="col-sm-2 control-label" id="tipoDocumento">Tipo de Documento</label>
    <div class="col-sm-5">
      <select class="form-control">
  <option>Abogacía</option>
  <option>Enfermería</option>
  <option> Laboratorista</option>
  <option>Clínico</option>
  <option>Contador Público</option>
  <option> Odontología</option>
  <option> Medicina </option>
  <option> Química Farmacéutica o Farmacia</option>
  <option>Economista</option>
  <option> Microbiología</option>
  <option> Bacteriología</option>
  <option> Agronomía y Forestales</option>
  <option>Técnico Constructor</option>
  <option> Químico</option>
  <option> Fisioterapista o Terapista Físico</option>
  <option>Ingeniero Químico</option>
  <option> Licenciados en Ciencias de la Educación</option>
  <option>Trabajador Social</option>
  <option>Ingeniería</option>
  <option>Arquitectura</option> 
  <option>Profesiones Auxiliares</option>
  <option>Nutrición y Dietética</option>
  <option>Bibliotecología</option> 
  <option>Topógrafo</option>
  <option>Administración de Empresas</option>
  <option>Instrumentación Técnico Quirúrgica</option>
  <option>Secretariado</option>
  <option>Ingeniero de Petróleos</option>
  <option>Biología</option>
  <option>Medicina Veterinaria y Zootecnia</option>
  <option>Ingeniería Eléctrica</option>
  <option>Ingeniería Mecánica y Profesiones Afines</option>
  <option>Ingeniería Pesquera</option>
  <option>Ingeniero de Transportes y Vías</option>
  <option>Actuación</option>
  <option>Dirección Escénica y el Doblaje en Radio y Televisión</option>
  <option>Técnico Electricista</option>
  <option>Agente de Viajes</option>
  <option>Administrador Público</option>
  <option>Fotografía y Camarografía</option>
  <option>Geógrafo</option>
  <option>Diseño Industrial</option>
  <option>Guía de Turismo</option>
  <option>Optometría</option>
  <option>Estadística</option>
  <option>Fonoaudiología</option>
  <option>Ingeniería Naval</option>
  <option>Tecnólogo en Electricidad</option>
  <option>Electromecánica</option>
  <option>Electrónica y Afines</option>
  <option>Administradores de Empresas Agropecuarias</option>
  <option>Administradores Agrícolas o Administradores Agropecuarios</option>
  <option>Desarrollo Familiar</option>
  
</select>
    </div>
  </div>
                               <div class="form-group">
    <label for="inputNum" class="col-sm-2 control-label">Num Documento profesional </label>
    <div class="col-sm-5">
      <input  class="form-control" id="inputNumDoc" placeholder="">
    </div>
  </div>
                                <div class="form-group">
    <label for="inputfecha" class="col-sm-2 control-label">Fecha de Expedicion</label>
    <div class="col-sm-5">
      <input  class="form-control" id="inputFecha" placeholder="">
    </div>
  </div>
                                <div class="form-group">
    <label for="inputLugarExpedicion" class="col-sm-2 control-label">Lugar de Expedicion </label>
    <div class="col-sm-5">
      <input  class="form-control" id="inputLugarExpedicion" placeholder="">
    </div>
  </div>
                        
                    </div>


                    <button type="submit" class="btn btn-primary"   id='guardarCambios' >Guardar Cambios</button>
                   

                </div>
                <div role="tabpanel" class="tab-pane" id="profile">  
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="panel panel-success">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Institución:<strong> Politécnico Grancolombiano Institución Universitaria </strong></div>
                                <!-- Table -->
                                 <div class="form-group">
    <label for="inputTP" class="col-sm-2 control-label">Tipo de Documento</label>
    <div class="col-sm-10">
      <input  class="form-control" id="inpuTP1" placeholder="">
    </div>
  </div>
                               <div class="form-group">
    <label for="inputNum" class="col-sm-2 control-label">Num Documento profesional </label>
    <div class="col-sm-10">
      <input  class="form-control" id="inputNumDoc1" placeholder="">
    </div>
  </div>
                                <div class="form-group">
    <label for="inputfecha" class="col-sm-2 control-label">Fecha de Expedicion</label>
    <div class="col-sm-10">
      <input  class="form-control" id="inputFecha1" placeholder="">
    </div>
  </div>
                                <div class="form-group">
    <label for="inputLugarExpedicion" class="col-sm-2 control-label">Lugar de Expedicion </label>
    <div class="col-sm-10">
      <input  class="form-control" id="inputLugarExpedicion1" placeholder="">
    </div>
  </div>
                            
                            
                            </div>
                            <button class="btn btn-primary"   id='bT3' >Editkjjar Tarjeta</button>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

   

