 <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Crear Experiencia Laboral 
                              </h1>
                    </div>
                
                <div class="panel panel-success">
            <div class="panel-heading">Editando Escolaridad</div>
            <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"> </li>
            </ul>

                <form class="form-horizontal">

            

                <div class="form-group">
                    <label for="cargo" class="col-sm-2 control-label">Cargo:</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Digite el cargo" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="empresa" class="col-sm-2 control-label">Empresa:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Digite la empresa" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jefe" class="col-sm-2 control-label">Jefe:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Digite el nombre de su jefe inmediato" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fechaInicioExperienciaLab" class="col-sm-2 control-label">Fecha de Inicio:</label>
                    <div class="col-sm-7">
                        <input  type="date" id="FechaInicio">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fechaFinalExperienciaLab" class="col-sm-2 control-label">Fecha de Final</label>
                    <div class="col-sm-7">
                        <input  type="date" id="FechaInicio">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Certificado Laboral </label>
                    <div class="col-sm-7">
                        <input type="file" id="exampleInputFile" >
                        <p class="help-block">La Institución se reserva el derecho de confirmar dicho certificado</p>
                    </div>
                </div>
        </div>
        <button class="btn btn-primary">Guardar Experiencia</button>
        <button id="cancelar" class="btn btn-primary">Cancelar</button>
    </div>
</div>

